.dbWrap {
    display: flex;
    height: 100%;
    min-height: 100vh;
    background: #f3f7ff;
}

.dbLft {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    background: #15284F;
    position: relative;
}

.dbRgt {
    /*    width: calc(100% - 120px);*/
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dbRightbase {
    width: 100%;
}

.dbLft ul {
    padding: 0 !important;
}

.dbLft li {
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid #0E1E3F;
}

.dbLft li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #95ABD7;
}

.dbLft li a:hover {
    background: #09152E;
    color: #48D370;
}

.dbLft li img {
    width: 28px;
    margin-bottom: 6px;
}

.dbLft li a:hover img {
    filter: invert(71%) sepia(60%) saturate(441%) hue-rotate(81deg) brightness(87%) contrast(97%);
}

.dbHead {
    width: 100%;
    border-bottom: 2px solid #DFE9FD;
    background: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sideBtn {
    display: none;
}

.closebtn {
    display: none;
}

.dblogobg img {
    width: 250px;
}

.dbHeadRight {
    display: flex;
    align-items: center;
}

.searchBar {
    display: flex;
    position: relative;
}

.searchBar input[type="text"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #7681a8;
    padding-left: 45px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1) !important;
    border-radius: 149px;
}

.searchBar button {
    position: absolute;
    z-index: 1;
    left: 16px;
    top: 11px;
    color: #a8a8c0;
    font-size: 22px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.notifyBar {
    margin-right: 30px;
    margin-left: 20px;
    position: relative;
    font-size: 25px;
    color: #15284F;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1) !important;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
}

.usrSec {
    flex: none;
}

.notifyBar .dropdown {
    position: absolute;
    right: -10px;
    top: -10px;
}

.notifyBar button {
    background: #15284F;
    border-radius: 100px;
    width: 23px;
    height: 23px;
    color: #fff;
    padding: 3px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    border: none;
    outline: none;
}

.notifyBar button::after {
    display: none;
}

.notifyBar .dropdown-menu {
    min-width: 300px;
    left: auto;
    right: -30px;
    top: 33px !important;
    border: none;
    box-shadow: 0 0 8px #ccc;
}

.announceNotify {
    width: 100%;
    padding: 0 20px;
}

.announceBlock {
    border-bottom: 1px solid #dee5eb;
    padding: 15px 0;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #7e81a5;
    cursor: default;
}

.announceBlock i {
    margin-top: 3px;
}

.anb {
    padding-left: 10px;
}

.anb p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #7e81a5;
}

.anb span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #88889a;
}

.announceBlock:hover i {
    color: #15284F;
}

.announceBlock:hover p {
    color: #2b2d42;
}

.announceBlock:hover span {
    color: #4e4e5b;
}

.usrImg img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 100px;
    border: 3px solid #15284F;
    /*    box-shadow: 0 0 2px 2px #bdc5d5;*/
}

.usrSec .dropdown-menu {
    background: #29304a;
}

.usrSec .dropdown-menu a {
    color: #fff;
    font-size: 15px;
}

.usrSec .dropdown-menu a:hover {
    color: #29304a;
    background: #48D370;
}

.usrName {
    font-weight: 600;
    color: #29304a;
    font-size: 16px;
}

.dbFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dbFooter p {
    color: #829BCD;
    margin: 0;
}

.dbFooter p a {
    color: #15284F;
}

.dbfooterSocial a {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    color: #4765A4;
}

.dbfooterSocial a:hover {
    color: #48D370;
}

.dbbrowsetop {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
}

.dbbrowsetop h6 {
    color: #15284F;
    font-weight: 500;
}

.dbsearchdrop {
    position: relative;
}

.dbsearchdrop input {
    width: 100%;
    background: #F3F7FF;
    border: 1px solid #DFE9FD;
    border-radius: 100px;
    padding-left: 40px;
}

.dbsearchdrop::after {
    font-family: "Font Awesome 5 Pro";
    content: "\f107";
    position: absolute;
    z-index: 1;
    right: 17px;
    top: 13px;
    font-size: 20px;
    background: #f3f7ff;
}

.dbsHandle {
    position: absolute;
    left: 15px;
    top: 11px;
    z-index: 1;
    font-size: 20px;
    color: #A4AFC5;
}

.dbrowseTab {
    background: #fff;
    padding: 15px;
}

.dbrowseTabtop {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DFE9FD;
}

.expList {
    border: none;
    outline: none;
    box-shadow: none !important;
    border-radius: 6px;
    padding: 7px 10px;
    color: #fff;
    font-size: 14px;
    background: #15284F;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.dbrowseTabtop .nav-tabs {
    border: none;
}

.dbrowseTabtop .nav-tabs .nav-link {
    padding: 12px 13px;
    color: #616161;
    font-size: 14px;
    font-weight: 500;
    border: none;
}

.dbrowseTabtop .nav-tabs .nav-link.active {
    border-bottom: 2px solid #09152E;
}

.dataTabbody {
    padding: 15px 0;

}

.dataTabbody ul li {
    padding-bottom: 15px;
}

.dataTabbody ul li a {
    font-size: 15px;
    font-weight: 400;
    color: #353535;
}

.dataTabbody ul li a:hover {
    color: #48D370;
}

.dbdSrch::after {
    display: none;
}

.dbdSec2 {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
}

.dbdVs {
    border-right: 1px solid #ccc;
    padding-right: 40px;
    margin-right: 3%;
    width: 70%;
}

.dbdVsrgt {}

.dbdSec2Top {
    display: flex;
}

.checkDetl {
    padding-top: 25px;
}

.checkDetl button {
    margin-right: 20px;
    border: 1px solid #15284F;
    border-radius: 5px;
    text-align: center;
    padding: 7px 20px;
    background: #fff;
    text-transform: uppercase;
    font-size: 15px;
    color: #15284F;
    margin-bottom: 5px;
}

.checkDetl button:hover {
    background: #15284F;
    color: #fff;
}

.dbUsdright {
    border: 1px solid #15284F;
    border-radius: 10px;
    padding: 12px 15px;
    background: #E0EAFF;
    width: 150px;
    margin-bottom: 15px;
}

.dbUsdright p {
    font-size: 16px;
    font-weight: 400;
    color: #15284F;
    margin-bottom: 0;
}

.dbUsdright p span {
    font-size: 14px;
}

.dbUsdRgtBtm p {
    font-size: 18px;
    font-weight: 500;
    color: #15284F;
    margin-bottom: 0;
}

.dbdVs {
    display: flex;
}

.dbUsdLft {
    border: 1px solid #15284F;
    border-radius: 10px;
    padding: 15px 20px;
    background: #15284F;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dbUsdLft p {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
}

.dbUsdLft small {
    color: #fff;
    font-size: 18px;
}

.dbUsdLft p span {
    font-size: 17px;
}

.priceRating {
    border: 2px solid #E3E4EC;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.vsTxt {
    display: inline-flex;
    align-items: center;
    margin: 0 25px;
    font-size: 18px;
    color: #494949
}

.priceRatInn {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.priceRatInn span {
    color: #6A7A98;
    font-size: 15px;
    padding-bottom: 15px;
}




/* Rating item */
/* Rating item */
.rating {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;

    background: #000;
    width: 55px;
    height: 55px;

    /* Basic style for the text */
    font-size: 17px;
    line-height: 1;
}

/* Rating circle content */
.rating span {
    position: relative;
    display: flex;
    z-index: 2;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    color: #27ae60;
}

.rating span small {
    font-size: 0.5em;
    font-weight: 900;
    align-self: center;
}

/* Bar mask, creates an inner circle with the same color as thee background */
.rating::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background: #d9ffe4;
    border-radius: inherit;
    z-index: 1;
}

/* Bar background */
.rating::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border-radius: inherit;
    box-shadow: 0 0 0px 5px #c7e1f3;
    z-index: -1;
}

/* Classes to give different colors to ratings, based on their score */
.rating.good {
    background: #27ae60;
    color: #27ae60;
}

.rating.good span {
    color: #27ae60;
}

.rating.meh {
    background: #f1c40f;
    color: #f1c40f;
}

.rating.meh span {
    color: #f1c40f;
}

.rating.bad {
    background: #e74c3c;
    color: #e74c3c;
}

.rating.bad span {
    color: #e74c3c;
}


/* Rating circle content end */


/*
.ticketInfo {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
}
*/
.ticketInfo {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.ticketInfoBlock {
    border-right: 1px solid #DDDDDD;
    flex: 1;
    text-align: center;
}

.ticketInfoBlock p {
    font-size: 14px;
    font-weight: 500;
    color: #09152E;
    margin: 0;
}

.ticketInfoBlock span {
    color: #494949;
    font-size: 13px;
}

.ticketInfoBlock:last-child {
    border-right: none;
}

.ticketInfoBlock select {
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #09152E;
}

.analy {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.dbdts {
    font-size: 18px;
    color: #15284F;
}

.analyTop {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.analyFrom {
    width: 260px;
}

.analyTop h6 {
    color: #15284F;
    font-size: 15px;
}

.analyDate {
    display: flex;
    align-items: center;
}

.analyDate > span {
    padding: 0 15px;
}

.analyDate .input-group span {
    display: none;
}

.analyDate .form-control {
    height: 41px !important;
    font-size: 14px;
    color: #15284F;
    font-weight: 400;
}

.zoomyear {
    display: flex;
    padding-top: 5px;
}

.zoomyear span {
    display: inline-block;
    background: #EAFFF0;
    color: #3EC164;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 50px;
    margin-left: 10px;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
}

.zoomyear span:hover,
.zoomyear span.active {
    background: #3EC164;
    color: #fff;
}

.chartbg {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    margin-bottom: 25px;
}

.chartbg img {
    width: 100%;
}

.summaryBg {
    border-top: 1px solid #ccc;
    padding: 20px 0 0;
}

.summaryBg li {
    padding-left: 25px;
    background: url("../images/bullet.png") 0 5px no-repeat;
    padding-bottom: 10px;
    font-size: 15px;
    color: #353535;
}

.dbbrowsetop p {
    color: #353535;
    font-size: 15px;
}

.benchmark {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}





.benchmark table {
    /*    border: 1px solid #ccc;*/
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.benchmark table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.benchmark table tr {
    /*    background-color: #f8f8f8;*/
    border: none;
    padding: .35em;
}

.benchmark table th,
.benchmark table td {
    padding: 5px 0;
    /*    text-align: center;*/
}

.benchmark table td {
    font-size: 15px;
}

.benchmark table th:last-child,
.benchmark table td:last-child {
    text-align: right;
}

.benchmark table th {
    /*
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
*/
}


.viewList {
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background: #2E4167;
    padding: 12px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.viewList:hover {
    background: #48D370;
    color: #fff;
}

.greyBg {
    background: #F2F2F2;
    border-left: 2px solid #2E4167;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.peRange {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    display: flex;
    margin-bottom: 15px;
}

.peRangeInn {
    width: 50%;
}

.peRangeInn h4 {
    margin: 0;
}

.peRangeInn p {
    margin: 0;
    font-size: 13px;
}

.sectorBench {
    display: flex;
    justify-content: space-between;
}

.sectorBench select {
    margin-right: 10px;
    font-size: 14px;
}

.priceReturntable {
    margin-bottom: 20px;
}

.priceReturntable table {
    width: 100%;
    font-size: 15px;
}

.priceReturntable table td {
    padding: 5px 0;
}

.watchLright {
    display: flex;
    align-items: center;
}

.watchLright select {
    border: 1px solid #6A6C78;
    border-radius: 3px;
    font-size: 14px;
    padding: 3px 5px;
}

.watchLright button {
    margin-right: 10px;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none !important;
    padding: 5px 10px;
    color: #848484;
    font-size: 15px;
}

.watchLright button:hover {
    color: #15284F;
}

.lineDivide {
    border-right: 1px solid #848484;
    display: inline-block;
    height: 15px;
}

.watchLright button.addviewBtn {
    background: #EAFFF0;
    border-radius: 50px;
    color: #3EC164;
    padding: 7px 20px;
}

.watchLright button.addviewBtn:hover {
    background: #15284F;
    color: #fff;
}

.pgns {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.pgns .page-link {
    background: transparent;
    border: none;
    color: #848484;
    font-size: 15px;
}

.pgns .page-item.active .page-link {
    background: #15284F;
}

.watchListTable {
    padding-top: 15px;
    overflow: auto;
    width: 100%;
}

.watchListTable table {
    min-width: 100%;
}

.watchListTable table th {
    font-size: 14px;
    font-weight: 600;
    color: #15284F;
    border-bottom: 1px solid #D9DBE8;
    padding: 15px 10px;
    text-align: center;
}

.watchListTable table td {
    font-size: 14px;
    font-weight: 500;
    color: #848484;
    padding: 10px;
    text-align: center;
}

.watchListTable table td:first-child {
    text-align: left;
}

.watchListTable table td p {
    font-size: 12px;
    font-weight: 400;
    color: #15284F;
}

.watchListTab .nav-tabs .nav-link.active {
    color: #09152E;
}

.namePlus {
    color: #48D370;
}



.commonCheck input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.commonCheck label {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
}

.commonCheck label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #494949;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    left: 0;
    top: 2px;
    border-radius: 3px;
}

.commonCheck input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 14px;
    border: solid #494949;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.watchListTable .commonCheck label {
    color: #494949;
    text-transform: uppercase;
}

.watchListTable .commonCheck label span {
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
}

.incDesc {
    background: #FFEFEF;
    color: #FF4949;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 30px;
}

.nowrapTxt {
    white-space: nowrap;
}

.marketPerformance {
    /*    border-top: 1px solid #DFE9FD;*/
    padding-top: 15px;
}

.performSelect {
    background: #f3f7ff;
}

.performSelect span {
    background: #f3f7ff;
    display: inline-block;
    margin: 0 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    line-height: 35px;
    font-weight: 500;
    width: 44px;
    color: #616C84;
    border: 1px solid transparent;
}

.performSelect span:hover,
.performSelect span.actv {
    background: #CDDDFF;
    border: 1px solid #99AEDA;
    cursor: pointer;
    color: #15284F;
}

.dbbrowse_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DFE9FD;
    margin-bottom: 3px;
}

.dbbrowse_1 a {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    color: #9EA6B6;
}

.dbbrowseTableBg {
    overflow: auto;
}

.cmnchkB {}

.dbbrowseTableBg table {
    margin: 0;
}

.dbbrowseTableBg table tr {
    border: none;
}

.dbbrowseTableBg table th {
    background: #F3F3F3;
    padding: 7px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    border: none;
}

.dbbrowseTableBg table th:nth-child(1) {
    width: 200px;
}

.dbbrowseTableBg table td {
    padding: 7px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    border: none;
}

.incres {
    color: #459C37;
}

.decres {
    color: #CD3F3F;
}

.growthGreen {
    border: 1px solid #CCE2C9;
    background: #E9F9E7;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.core {
    border: 1px solid #CCE2C9;
    background: #EFEFEF;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.growthRed {
    border: 1px solid #EFA9A9;
    background: #F8E5E5;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dbgrowtable td {
    vertical-align: middle;
}

.dbgrowtable th {
    background: transparent !important;
    text-align: center;
}

.dbgrowtable th:nth-child(1) {
    width: 80px !important;
}

.dbgrowtable td:nth-child(1) {
    text-align: right;
}

.addviewModal .modal-header {
    background: #E6F1E9;
}

.addviewModal .modal-header h3 {
    color: #09152E;
    font-size: 18px;
    font-weight: 500;
}

.addviewModal .modal-header button {
    font-size: 13px;
}

.watchAddViewPopTop {
    padding-bottom: 10px;
}

.watchAddViewPopTop button {
    border: 1px solid transparent;
    border-radius: 50px;
    background: #ECFFF1;
    color: #48D370;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.watchAddViewPopTop button:hover {
    border: 1px solid #48D370;
}

.trsh {
    color: #CB2E2E;
}

.mve {
    color: #585858;
}

.addViewSrchField {
    position: relative;
}

.addViewSrchField input {
    width: 100%;
    border: 1px solid #DEDEDE;
    height: 45px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    padding: 5px 15px 5px 30px;
    border-radius: 2px;
}

.avsLense {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    font-size: 16px;
    color: #000;
}

.wlAdd {
    display: flex;
    padding-top: 20px;
}

.wlAddLft {
    width: 99%;
    max-width: 250px;
    min-width: 250px;
    margin-right: 1%;
    border: 1px solid #DEDEDE;
}

.wlAddLft input {
    background: #F3F7FF;
    border: none;
    outline: none;
    box-shadow: none !important;
}

.wlMenu {
    padding: 10px;
}

.wlMenu h5 {
    color: #909090;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.wlMenu li {
    padding-bottom: 17px;
}

.wlMenu a {
    color: #000;
    font-size: 15px;
    font-weight: 400;
}

.wlMenu a:hover {
    color: #48D370;
}

.wlMenu a img {
    width: 17px;
    margin-right: 10px;
}

.wlMenu a:hover img {
    filter: invert(62%) sepia(56%) saturate(504%) hue-rotate(85deg) brightness(104%) contrast(83%);
}

.wlMenu li span {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    background: #ECFFF1;
    color: #48D370;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.wlAddRgt {
    flex: 1;
}

.availTop {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.availTop .slct {
    width: 48%;
    position: relative;
}

.availTop select {
    border: none;
    outline: none;
    border-radius: 0;
    background: #EFEFEF;
    padding: 10px 10px 10px 25px;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: #626262;
}

.availTop .slct span {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
    color: #626262;
}

.totalRevw {
    background: #EFEFEF;
    padding: 10px;
    width: 48%;
    font-size: 15px;
    font-weight: 400;
    color: #626262;
}

.totalRevw span {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    background: #ECFFF1;
    color: #48D370;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.wlAddRgt ul li {
    padding-bottom: 15px;
}

.wlAddRgt ul li a {
    font-size: 14px;
    font-weight: 300;
    color: #626262;
}

.wlAddRgt ul li a:hover {
    color: #48D370;
}

.wlAddRgt h6 {
    color: #000;
    font-weight: 500;
}

.wlAddRgt form label {
    font-size: 13px;
    font-weight: 400;
    color: #BBBBC0;
    margin: 0;
}

.wlAddRgt form .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #DBDBE5;
    padding: 5px 0;
    height: 40px !important;
    color: #1A2227;
}

.wlAddRgt form .form-control::placeholder {
    color: #1A2227;
}





























@media screen and (max-width: 1399px) {
    .analyTop {
        flex-direction: column;
    }

    .analyFrom {
        margin-bottom: 15px;
    }
}



@media screen and (max-width: 991px) {
    .wlAdd {
        flex-direction: column;
    }

    .wlAddLft {
        width: 100%;
        margin-right: 0;
        min-width: inherit;
        max-width: inherit;
        margin-bottom: 20px;
    }

    .availTop {
        flex-direction: column;
    }

    .totalRevw,
    .availTop .slct {
        width: 100%;
        margin-bottom: 10px;
    }

    .watchListTable table {
        width: 900px;
    }

    .dbdSec2Top {
        flex-direction: column;
    }

    .dbdVs {
        margin-right: 0;
        margin-bottom: 20px;
        padding-right: 0;
        border-right: 0;
        width: 100%;
    }

    .dbdVsrgt {
        display: flex;
    }

    .dbUsdright {
        margin-right: 25px;
    }
}




@media screen and (max-width: 600px) {
    .dbbrowseTableBg table {
        width: 600px;
    }

    .dbdVsrgt {
        flex-direction: column;
        align-items: center;
    }

    .dbUsdright {
        margin-right: 0;
    }

    .dbdVs {
        flex-direction: column;
        align-items: center;
    }

    .checkDetl {
        text-align: center;
    }

    .dbUsdLft,
    .priceRating {
        width: 100%;
        text-align: center;
    }

    .vsTxt {
        padding: 20px 0;
    }

    .ticketInfo {
        flex-wrap: wrap;
    }

    .ticketInfoBlock {
        width: 100%;
        border: none;
        margin-bottom: 15px;
        flex: none;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    .benchmark table {
        border: 0;
    }

    .benchmark table caption {
        font-size: 1.3em;
    }

    .benchmark table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .benchmark table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .benchmark table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .benchmark table td::before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .benchmark table td:last-child {
        border-bottom: 0;
    }
}























@media(max-width:991px) {
    .anb p {
        font-size: 14px;
    }

    .dblogobg img {
        width: 200px;
    }

    .sideBtn {
        display: block;
        border: none;
        outline: none;
        background: #29304a;
        color: #fff;
        font-size: 25px;
        line-height: 25px;
        padding: 5px;
        width: 50px;
        position: fixed;
        left: 0;
        top: 82px;
        z-index: 9;
    }

    .dbLft {
        position: fixed;
        z-index: 9;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 0;
        overflow: hidden;
        transition: all 0.3s;
        background: #29304a;
        max-width: 120px;
        min-width: inherit;
        overflow: auto;
    }

    .closebtn {
        display: block;
        position: absolute;
        z-index: 9;
        right: 0;
        top: 0;
        background: #ff0000;
        font-size: 22px;
        line-height: 22px;
        color: #fff;
        padding: 5px 10px;
        border-radius: 0 0 0 10px;
    }
}

@media(max-width:767px) {
    .dbrowseTabtop {
        flex-direction: column-reverse;
    }

    .dbHead {
        flex-direction: column;
    }

    .dblogobg {
        padding-bottom: 10px;
    }

    .dbHeadRight {
        justify-content: space-between;
    }

    .sideBtn {
        top: 108px;
    }

    .usrImg img {
        width: 40px;
        height: 40px;
    }
}

@media(max-width:480px) {
    .dbFooter {
        flex-direction: column;
        text-align: center;
    }

    .dbfooterSocial {
        padding-top: 15px;
    }

    .notifyBar {
        margin-right: 20px;
        width: 45px;
        height: 45px;
    }

    .searchBar input[type="text"] {
        height: 45px !important;
    }

    .usrName {
        display: none;
    }
}
